@use "style.scss" as s;

.Home {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: center;
  // min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  justify-content: center;
  font-size: 80px;
  font-family: s.$primary_font;
  color: s.$secondary;
  text-align: center;
  margin: 20px;
}

h2 {
  justify-content: center;
  font-family: s.$secondary_font;
  font-style: bold;
  text-align: center;
  color: s.$textcolor;
}
