@use "style.scss" as s;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

body {
  background-color: #eee;
}

#post {
  display: block;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 80%;
  height: auto;
  margin: 5%;
  padding: 5%;
  position: relative;

  h1 {
    position: absolute;
    top: 1em;
    left: 2em;
    display: block;
    font-size: medium;
  }

  .reactions {
    float: right;
    /*
    position: absolute;
    right: 1em;
    bottom: 1em;
    display: block;
    width: 100%;
    height: auto;
    */
  }

  .options {
    float: left;
  }
  
  #small_post_btn {
    justify-content: center;
    font-size: 15px;
    text-align: center;
    font-family: s.$secondary_font;
    font-style: bold;
    background-color: s.$primary;
    border-radius: 5px;
    border-color: s.$secondary;
    color: s.$accent;
    padding: 8px 14px;
  }
}
