@use "style.scss" as s;

@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");


.editProfileForm {
    box-sizing: border-box;
    text-align: center;
    min-height: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    min-width: 100%;
    height: 100vh;
    position: relative;

    h4 {
      font-size: 18px;
      margin-bottom: 0px;
    }

    #submit-button {
      justify-content: center;
    font-size: 18px;
    text-align: center;
    font-style: bold;
    background-color: s.$primary;
    border-radius: 5px;
    border-color: s.$secondary;
    color: s.$textcolor;
    padding: 10px 19px;
    }

    .column {
      float: left;
      width: 60%;
    }

  }
  
#edit_h1 {
  justify-content: center;
  font-size: 50px;
  font-family: s.$primary_font;
  color: s.$secondary;
  text-align: center;
  //margin: 0;
}

#edit_h2 {
    justify-content: center;
    font-family: s.$primary_font;
    font-size: 25px;
    letter-spacing: normal;
    font-style: bold;
    text-align: center;
    color: s.$accent;
    margin: 0;
}

#profileEditForm form {
    text-align: center;
    height: 50px;
    width: 200px;
    border: solid s.$accent 5px;
  }
  
#profileEditForm label {
    font-size: 20px;
    letter-spacing: normal;
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
  }
  
#profileEditForm input {
    font-family: s.$secondary_font;
    display: block;
    width: 100%;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
  }

  #profileEditForm textarea {
    font-family: s.$secondary_font;
    display: block;
    height: 30px;
    width: 100%;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.9vw 0;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
  }
  
#profileEditForm button {
    justify-content: center;
    font-size: 18px;
    text-align: center;
    font-style: bold;
    background-color: s.$primary;
    border-radius: 5px;
    border-color: s.$secondary;
    color: s.$textcolor;
    padding: 10px 19px;
  }

  select {
    color: s.$accent;
    font-family: s.$primary_font;
    font-size: 18px;
    border-radius: 4px;
    padding: 4px;
}

  